body {
    background-color: #4ecdc4;
    font-family: "Nunito", sans-serif;
}

h2{ color: #9ef01a;
font-weight: 100;
font-size: 2.5rem;}

#main {
    font-size: 1.5rem;
    font-weight: 100;
}
#lead {
    color: #f498b8;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 2;
}

.content{margin-top: 100px;}
#main .nav-link {
    color: white
}

#main .nav-link:hover {
    color: #d90429
}


#main .navbar-brand {
    color: #ffc2d1;
    font-size: 1.5rem;
    font-weight: 100;
}

#Types h1 {
    font-weight: 100;
    font-size: 4rem;
}
.navbar.scrolled{ background-color: #da2c38; transition: 1s;}

@media (max-width: 1200px) {
    #Types h1 {
        font-weight: 100;
        font-size: 3rem;
    }
}